{% extends "layout.html" %}
{% block content %}
    <h2 style="text-align:center"><b>About</b></h2>
    <h4 style="text-align:center">
        Vanilla is a chat app that seeks to be inclusive and user friendly to all people allowing for a easy experience and better communication! 
    </h4>   
        <b>
        <h4>Program was built by: </h4>
        <ul>
          <li>Udochukwu Nwosu - <a href="https://github.com/unwosu6">github</a> - udochukwunwosu@gmail.com</li>
          <li>Christian Santana - <a href="https://github.com/csantana1121">github</a> - christians1121@gmail.com</li>
          <li>Mario Rivero - <a href="https://github.com/maro910">github</a> - mariorivero051@gmail.com</li>
          <li>Ari Hamilton - <a href="https://github.com/ill-education">github</a> - ariannahamilton@gmail.com</li>
          <li>Jacob Gil - <a href="https://github.com/jgil325">github</a> - jacobgil325@gmail.com</li>
        </ul>
{% endblock content %}