{% extends "layout.html" %}
{% block chats %}
<!--     <h2 style="text-align:center"><b>About</b></h2>
    <h4 style="text-align:center">
        Vanilla is a chat app that seeks to be inclusive and user friendly to all people allowing for a easy experience and better communication! 
    </h4>   
        <b>
        <h4>Program was built by: </h4>
        <ul>
          <li>Udochukwu Nwosu - <a href="https://github.com/unwosu6">github</a> - udochukwunwosu@gmail.com</li>
          <li>Christian Santana - <a href="https://github.com/csantana1121">github</a> - christians1121@gmail.com</li>
          <li>Mario Rivero - <a href="https://github.com/maro910">github</a> - mariorivero051@gmail.com</li>
          <li>Ari Hamilton - <a href="https://github.com/ill-education">github</a> - ariannahamilton@gmail.com</li>
          <li>Jacob Gil - <a href="https://github.com/jgil325">github</a> - jacobgil325@gmail.com</li>
        </ul> -->

<div class="bg-light bg-image">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
        <h1 class="display-4 centered-text"><b>Vanilla - the chat app for simple, more positive communication</b></h1>
        <br>
        <p class="lead lightText mb-0 centered-text">Vanilla is a chat app that seeks to be safe and user friendly to all people and all interests, allowing for an easy experience and better communication.</p>
    </div>
  </div>
</div>

<div class="bg-chocolate py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>

    <div class="row text-center justify-content-center">
      
      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-tan darkDropShadow rounded shadow-sm py-5 px-4"><img src="static/images/udpfp.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Udochukwu Nwosu</h5><span class="small text-uppercase lightText">Back End</span><br>
          <span class="small text-muted font-weight-light">udochukwunwosu@gmail.com</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/unwosu6" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->  
        
      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-tan darkDropShadow rounded shadow-sm py-5 px-4"><img src="static/images/disney.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Christian Santana</h5><span class="small text-uppercase lightText">Back End</span><br>
          <span class="small text-muted font-weight-light">christians1121@gmail.com</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/csantana1121" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-tan darkDropShadow rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Mario Rivero</h5><span class="small text-uppercase lightText">Insert Role Here</span><br>
          <span class="small text-muted font-weight-light">mariorivero051@gmail.com</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/maro910" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-tan darkDropShadow rounded shadow-sm py-5 px-4"><img src="static/images/ahpfp.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Ari Hamilton</h5><span class="small text-uppercase lightText">Front End</span><br>
          <span class="small text-muted font-weight-light">ariannahamilton@gmail.com</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/arihamilton" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-tan darkDropShadow rounded shadow-sm py-5 px-4"><img src="static/images/jgpfp.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Jacob Gil</h5><span class="small text-uppercase lightText">Back End</span><br>
          <span class="small text-muted font-weight-light">jacobgil325@gmail.com</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/jgil325" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>

{% endblock chats %}