{% extends "layout.html" %}
<!--I need to make 2 columns
     column 1 is smaller than column 2
     column 1 needs a placeholder (maybe w/buttons) for all of the chats
     column 2 has 2 rows - one for the message textbox and the other is to display the messages
     for the display message area, have a scrollable on that-->
{% block chats %}
<div id="hidden-user-id" hidden>{{ current_user.id }}</div>
<div id="hidden-chat-id" hidden>{{ chat_id }}</div>
<div class="col-md-12">
<div class="container">
<h3 class="heading text-center">[{{ chatname }}]</h3>
<div class="messaging">
      <div class="inbox_msg">
        <!-- TODO: add become member and leave buttons -->
          
        <div class="mesgs">
          <div class="msg_history">
              <div id="all-msgs"></div>

          </div>

        </div>
      </div>
    
  </div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3">
<!--         <div class="input-group mb-3"> -->
            {% if form.msg.errors %}
              {{ form.msg(placeholder="send message...", class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.msg.errors%}
                    <span>{{error}}</span>
                {% endfor %}
              </div>
          {% else %}
              {{ form.msg(placeholder="send message...", class="form-control form-control-lg") }}
          {% endif %}
          <!--<input type="text" class="form-control" placeholder="send message..." aria-label="message" aria-describedby="basic-addon2">-->
<!--             <div class="form-group"> -->
          {{ form.submit(class="btn btn-primary btn-lg", style="height: 100%;") }}
<!--             </div> -->
            <!--<div class="input-group-append">
              
            <!--<button class="btn btn-primary btn-lg" type="button">[send]</button>
          </div>-->
        </div>
    </form> 
    
    <form method="POST" action="">
              <input class="btn btn-primary btn-lg" type="submit" name="leave_chat" value="leave">
              <input class="btn btn-primary btn-lg" type="submit" name="become_member" value="become member">
          </form>
</div>
{% endblock %}