{% extends "layout.html" %}
{% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
               <div class="alert alert-{{ category }}">
                 {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
{% block chats %}
<nav class="navbar navbar-expand-md navbar-dark bg-steel" style="width:100%;">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">Your Chat: [{{ thisChatname }}]</a>
          </div>
</nav>

<div class="container">
<div class="row align-items-start">
  
    <div class="col-md-6 justify-content-center">
    <div class="content-section">
         <form method="POST" action="">
        {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.display_name.label(class="form-control-label") }}
                    {% if form.display_name.errors %}
                      {{ form.display_name(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.display_name.errors%}
                            <span>{{error}}</span>
                        {% endfor %}
                      </div>
                  {% else %}
                      {{ form.display_name(class="form-control form-control-lg") }}
                      <small id="create-chat-help" class="form-text text-muted">
                          this is the name other users will see when viewing your chat
                      </small>
                  {% endif %}
          </div>
            <div class="form-group">

                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                      {{ form.description(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.description.errors%}
                            <span>{{error}}</span>
                        {% endfor %}
                      </div>
                  {% else %}
                      {{ form.description(class="form-control form-control-lg") }}
                      <small id="create-chat-help" class="form-text text-muted">
                          limit: 120 characters
                      </small>
                  {% endif %}

                </div>
            <div class="form-group">
                {{ form.owner.label(class="form-control-label") }}
                    {% if form.owner.errors %}
                      {{ form.owner(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.owner.errors%}
                            <span>{{error}}</span>
                        {% endfor %}
                      </div>
                  {% else %}
                      {{ form.owner(class="form-control form-control-lg") }}
                      <small id="create-chat-help" class="form-text text-muted">
                          select the [username] of the user you would like to promote to owner
                      </small>
                  {% endif %}
              </div>
             <div class="form-group">
                {{ form.user.label(class="form-control-label") }}
                    {% if form.user.errors %}
                      {{ form.user(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.user.errors%}
                            <span>{{error}}</span>
                        {% endfor %}
                      </div>
                  {% else %}
                      {{ form.user(class="form-control form-control-lg") }}
                      <small id="create-chat-help" class="form-text text-muted">
                          select the [username] of the user you would like remove from chat
                      </small>
                  {% endif %}
              </div>
             
            <div class="form-group">
            {{ form.submit(class="btn btn-primary btn-lg") }}
         </div>
        </form>
    </div>
    </div>    

</div>   
</div> 



{% endblock chats %}