{% extends "layout.html" %}
{% block content %}

<h1> Popular Group Chats </h1>
<div id="hidden-user-id" hidden>all</div>
<div id="hidden-curr-user-id" hidden>{{ current_user.id }}</div>
<div id="public-chats"></div>
<!--<div class="jumbotron">
  <h1 class="display-4">[chat name]</h1>
  <p class="lead">[chat description]</p>
  <hr class="my-4">
  <p>## members<br>## active</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">join</a>
  </p>
</div>
<div class="jumbotron">
  <h1 class="display-4">[random]</h1>
  <p class="lead">Le epic random chat room.</p>
  <hr class="my-4">
  <p>## members<br>## active</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">join</a>
  </p>
</div>-->

{% endblock content %}