{% extends "layout.html" %}
{% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
               <div class="alert alert-{{ category }}">
                 {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
{% block chats %}
        <div class="container">
          <div class="row align-items-start">
              
<!--             Information Column  -->
              
            <div class="col-md-6 justify-content-center">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div style="float:left;padding-right:10px"><h1>{{ current_user.username }}'s Profile</h1></div>
                        <div><a href="/edit_profile"><img class="edit-svg" src="/static/images/pencil.svg" style="width:40px;height:40px;"></a></div>
                    </div>
                    <div id="profile-pic" style="clear:left;">
                        <img src="{{ current_user.profile_pic }}" class="rounded-circle" alt="Profile Picture"> 
                    </div>
                    <h3 id="display-name">Display Name: {{ current_user.display_name }}</h3>
                    <h3 id="bio">Bio: {{ current_user.bio }}</h3>
                    <div>
                        <div class="circle-block" style="float:left;">
                            <div class="status-circle"></div>
                        </div>
                        <h3>Active</h3>      
                    </div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        [create new chat]
                    </button>
                    

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">[create new chat]</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form method="POST" action="">
                            {{ form.hidden_tag() }}
                              <div class="form-group">
                                {{ form.chatname.label(class="form-control-label") }}
                                    {% if form.chatname.errors %}
                                      {{ form.chatname(class="form-control form-control-lg is-invalid") }}
                                      <div class="invalid-feedback">
                                        {% for error in form.chatname.errors%}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                      </div>
                                  {% else %}
                                      {{ form.chatname(class="form-control form-control-lg") }}
                                      <small id="create-chat-help" class="form-text text-muted">
                                              this is the unique id users must enter to join the chat if it is private
                                      </small>
                                  {% endif %}
                              </div>
                              <div class="form-group">
                                {{ form.display_name.label(class="form-control-label") }}
                                        {% if form.display_name.errors %}
                                          {{ form.display_name(class="form-control form-control-lg is-invalid") }}
                                          <div class="invalid-feedback">
                                            {% for error in form.display_name.errors%}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                          </div>
                                      {% else %}
                                          {{ form.display_name(class="form-control form-control-lg") }}
                                          <small id="create-chat-help" class="form-text text-muted">
                                              this is the name other users will see when viewing your chat
                                          </small>
                                      {% endif %}
                              </div>
                                <div class="form-group">
                                    
                                        {{ form.description.label(class="form-control-label") }}
                                        {% if form.description.errors %}
                                          {{ form.description(class="form-control form-control-lg is-invalid") }}
                                          <div class="invalid-feedback">
                                            {% for error in form.description.errors%}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                          </div>
                                      {% else %}
                                          {{ form.description(class="form-control form-control-lg") }}
                                          <small id="create-chat-help" class="form-text text-muted">
                                              limit: 120 characters
                                          </small>
                                      {% endif %}
                                     
                                    </div>
                                <div class="field">
                                    <label class="checkbox">
                                        <input type="checkbox" name = "Private"/>
                                        Private
                                    </label>
                                    </div>
                                <div class="form-group">
                                {{ form.submit(class="btn btn-primary btn-lg") }}
                             </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">[back to profile]</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% block newchat %}{% endblock %}
                </div>
            </div>
              
<!--             Chats Column  -->
              
            <div class="col-md-6 justify-content-center">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <h1 class="fixed">My Chats</h1>
                    </div>
                    
<!--                Private Chats -->
                    <!-- add something so that only the logged in user can see their own private chats -->
                    <h3>Private Chats</h3>
                    <!--<div class="jumbotron">
                      <h1 class="display-4">[chat name]</h1>
                      <p class="lead">[chat description]</p>
                      <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Join</a>
                      </p>
                    </div>-->
                    <div id="hidden-user-id" hidden>{{ current_user.id }}</div>
                    <div id="private-chats"></div>
<!--                Public Chats -->
                    
                    <h3>Public Chats</h3>
                    <div id="public-chats"></div>
                    <!--<div class="jumbotron">
                      <h1 class="display-4">[chat name]</h1>
                      <p class="lead">[chat description]</p>
                      <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Join</a>
                      </p>
                    </div>-->                
                    
                </div>
                
                
            </div>
              
          </div>
        </div>
      
{% endblock chats %}
